*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 400px;
    margin: 0 auto;
}

.logo{
    width: 100px;
}

.profile{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.write-area{
    margin: 25px 0px;
    display: flex;
}
textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 10px;
    height: 70px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

button{
    border-radius: 20px;
    border: none;
    background-color: rgba(29,155,240,1.00);
    color: white;
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.border-bottom{
    border-bottom: 1px solid rgb(190, 182, 182);
}


.tweet{
    margin: 20px 0;
    display: flex;
    border-bottom: 1px solid rgb(190, 182, 182);
    padding-bottom: 20px;
}

.tweet-inner{
    margin: 0 10px;
}

.tweet-handle{
    font-weight: 600;
    color: rgb(83, 100, 113);
    margin-top: 0;
    margin-bottom: 7px;
}
.tweet-details{
    margin-top: 20px;
    display: flex;
    gap: 80px;
}

i{
    cursor: pointer;
    
}

.fa-solid{
    color: #999;
}

.tweet-area{
    margin: 0;
}

.liked-tweet{
    color: red;
}

.retweeted-tweet{
    color: aqua;
}

